<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>  
  <xacro:include filename="$(find epick_gripper_description)/urdf/robotiq_epick_model_macro.xacro"/>
  <xacro:include filename="$(find pisoftgrip_description)/urdf/pisoftgrip_macro.xacro"/>
  <xacro:include filename="$(find environment_description)/urdf/environment_macro.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro"/>

  <xacro:property name="M_PI" value="3.1415926535897931"/>



  <xacro:macro name="workcell" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    use_nominal_extrinsics
    add_plug
    use_mesh
    ">

    <!-- Environment -->
    <xacro:environment parent="${parent}"/>
    
    <!-- Robot -->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}_"
      parent="robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      generate_ros2_control_tag="false"
      >
      <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
    </xacro:ur_robot>

    <!-- Robot (Tool0) to Robotiq Epick -->
    <!-- Important: Parent is '${ur_type}_tool0', because tf_prefix is set in the ur_robot call -->
    <joint name="${ur_type}_tool0_to_epick" type="fixed">
      <parent link="${ur_type}_tool0"/>
      <child link="epick_base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Robotiq Epick -->
    <xacro:epick_hand hand_link_name="epick_base_link" robot_name="epick_gripper" />

    <!-- Robotiq Epick to Piab PiSoftGripper -->
    <joint name="epick_to_pisoftgrip" type="fixed">
      <parent link="epick_end_effector"/>
      <child link="pisoftgrip_flansch"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <!-- Piab PiSoftGripper -->
    <xacro:pisoftgrip prefix=""/>



    <!-- Realsense D415 -->
    <xacro:sensor_d415
        name="d415"
        parent="robot_mount"
        use_nominal_extrinsics="${use_nominal_extrinsics}"
        add_plug="${add_plug}"
        use_mesh="${use_mesh}">
      <origin xyz="0.25 0 0.11" rpy="0 0 0"/>
    </xacro:sensor_d415>


    <!-- ===== Simulations-Frame am PROTO-Zentrum ===== -->
    <link name="d415_sim_optical_frame"/>
    <joint name="d415_sim_optical_joint" type="fixed">
      <parent link="d415_bottom_screw_frame"/>
      <child link="d415_sim_optical_frame"/>
      <!-- XY = 0: mittig wie bottom_screw
          Z = halbe Gehäusehöhe (0.023/2 = 0.0115): Sensormitte -->
      <origin xyz="0 0 0.0115" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
    </joint>


  </xacro:macro>
</robot>