<?xml version="1.0"?>
<robot name="pisoftgrip" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="pisoftgrip_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.055"/>
            <inertia ixx="9.6794e-05" ixy="0.0" ixz="0.0" iyy="9.6794e-05" iyz="0.0" izz="3.8672e-05"/>
        </inertial>

        <visual>
            <geometry>
                <mesh filename="package://pisoftgrip_description/meshes/pisoftgrip.obj" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://pisoftgrip_description/meshes/pisoftgrip_605_faces.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
</robot>
